# OS / Editor
.DS_Store
.air/
.env
.env.local
.infisical.json
infisical.json
.env.release
/release/android/*
!/release/android/.gitkeep
/release/ios/*
!/release/ios/.gitkeep
*.swp
*.swo
*.log
*.pyc
*.class
.atom/
.history
.idea/
*.iml
*.ipr
*.iws

# Build systems and temporary dirs
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

# VS Code settings can be shared by teams. Uncomment to ignore locally.
# .vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication / obfuscation outputs
app.*.symbols
app.*.map.json

# Android Studio build outputs
android/app/debug/
android/app/profile/
android/app/release/
